In [1]:
import pandas as pd

In [60]:
df = pd.read_csv("nba_games.csv", index_col=0)

In [61]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,...,57.1,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True
1,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
2,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
3,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,30.4,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True
4,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22247,240.0,40.0,87.0,0.460,10.0,29.0,0.345,12.0,16.0,0.750,...,33.3,32.5,189.0,122.0,BOS,105,0,2024,2024-05-27,False
22248,240.0,39.0,74.0,0.527,11.0,24.0,0.458,16.0,25.0,0.640,...,100.0,34.6,208.0,120.0,DAL,100,1,2024,2024-05-28,True
22249,240.0,34.0,81.0,0.420,14.0,40.0,0.350,18.0,21.0,0.857,...,21.8,41.4,154.0,115.0,MIN,105,0,2024,2024-05-28,False
22250,240.0,46.0,84.0,0.548,15.0,34.0,0.441,17.0,23.0,0.739,...,22.3,43.5,223.0,139.0,MIN,103,1,2024,2024-05-30,True
22251,240.0,38.0,89.0,0.427,10.0,32.0,0.313,17.0,21.0,0.810,...,50.0,33.8,151.0,119.0,DAL,124,0,2024,2024-05-30,False

In [4]:
df = df.sort_values("date")

In [5]:
df = df.reset_index(drop=True)

In [6]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,...,57.1,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True
1,240.0,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
2,240.0,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
3,240.0,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,...,30.4,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True
4,240.0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22247,240.0,240.0,40.0,87.0,0.460,10.0,29.0,0.345,12.0,16.0,...,33.3,32.5,189.0,122.0,BOS,105,0,2024,2024-05-27,False
22248,240.0,240.0,39.0,74.0,0.527,11.0,24.0,0.458,16.0,25.0,...,100.0,34.6,208.0,120.0,DAL,100,1,2024,2024-05-28,True
22249,240.0,240.0,34.0,81.0,0.420,14.0,40.0,0.350,18.0,21.0,...,21.8,41.4,154.0,115.0,MIN,105,0,2024,2024-05-28,False
22250,240.0,240.0,46.0,84.0,0.548,15.0,34.0,0.441,17.0,23.0,...,22.3,43.5,223.0,139.0,MIN,103,1,2024,2024-05-30,True
22251,240.0,240.0,38.0,89.0,0.427,10.0,32.0,0.313,17.0,21.0,...,50.0,33.8,151.0,119.0,DAL,124,0,2024,2024-05-30,False

In [7]:
del df["mp.1"]
del df["mp_opp.1"]
del df["index_opp"]

In [8]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,...,57.1,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True
1,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
2,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
3,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,30.4,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True
4,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22247,240.0,40.0,87.0,0.460,10.0,29.0,0.345,12.0,16.0,0.750,...,33.3,32.5,189.0,122.0,BOS,105,0,2024,2024-05-27,False
22248,240.0,39.0,74.0,0.527,11.0,24.0,0.458,16.0,25.0,0.640,...,100.0,34.6,208.0,120.0,DAL,100,1,2024,2024-05-28,True
22249,240.0,34.0,81.0,0.420,14.0,40.0,0.350,18.0,21.0,0.857,...,21.8,41.4,154.0,115.0,MIN,105,0,2024,2024-05-28,False
22250,240.0,46.0,84.0,0.548,15.0,34.0,0.441,17.0,23.0,0.739,...,22.3,43.5,223.0,139.0,MIN,103,1,2024,2024-05-30,True
22251,240.0,38.0,89.0,0.427,10.0,32.0,0.313,17.0,21.0,0.810,...,50.0,33.8,151.0,119.0,DAL,124,0,2024,2024-05-30,False

In [62]:
import warnings

# Suppress FutureWarnings
warnings.simplefilter(action='ignore', category=FutureWarning)

def add_target(team):
    team["target"] = team["won"].shift(-1)
    return team

df = df.groupby("team", group_keys=False).apply(add_target)

In [10]:
df[df["team"] == "WAS"]

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
8,240.0,33.0,84.0,0.393,7.0,28.0,0.250,15.0,25.0,0.600,...,25.2,134.0,98.0,ORL,87,1,2016,2015-10-28,True,True
51,240.0,35.0,68.0,0.515,12.0,21.0,0.571,36.0,44.0,0.818,...,32.4,138.0,122.0,MIL,113,1,2016,2015-10-30,True,False
65,240.0,38.0,90.0,0.422,6.0,22.0,0.273,28.0,33.0,0.848,...,28.7,153.0,108.0,NYK,117,0,2016,2015-10-31,False,True
118,240.0,42.0,87.0,0.483,8.0,23.0,0.348,10.0,14.0,0.714,...,30.0,160.0,109.0,SAS,99,0,2016,2015-11-04,True,False
166,240.0,36.0,88.0,0.409,8.0,25.0,0.320,18.0,23.0,0.783,...,41.6,146.0,103.0,BOS,118,1,2016,2015-11-06,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21922,240.0,38.0,88.0,0.432,5.0,33.0,0.152,21.0,30.0,0.700,...,31.5,144.0,114.0,POR,108,0,2024,2024-04-05,False,False
21948,240.0,42.0,89.0,0.472,16.0,40.0,0.400,22.0,30.0,0.733,...,30.4,145.0,120.0,TOR,130,1,2024,2024-04-07,False,False
21985,240.0,44.0,89.0,0.494,20.0,43.0,0.465,13.0,17.0,0.765,...,72.4,199.0,131.0,MIN,130,1,2024,2024-04-09,False,False
22035,240.0,45.0,86.0,0.523,18.0,43.0,0.419,19.0,29.0,0.655,...,29.3,159.0,127.0,CHI,129,0,2024,2024-04-12,False,False
22072,240.0,49.0,103.0,0.476,14.0,38.0,0.368,10.0,10.0,1.000,...,40.2,199.0,128.0,BOS,132,1,2024,2024-04-14,False,NaN

In [63]:
df["target"][pd.isnull(df["target"])] = 2

In [12]:
df["target"] = df["target"].astype(int, errors="ignore")

In [13]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,...,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True,1
1,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False,1
2,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False,1
3,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True,1
4,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22247,240.0,40.0,87.0,0.460,10.0,29.0,0.345,12.0,16.0,0.750,...,32.5,189.0,122.0,BOS,105,0,2024,2024-05-27,False,2
22248,240.0,39.0,74.0,0.527,11.0,24.0,0.458,16.0,25.0,0.640,...,34.6,208.0,120.0,DAL,100,1,2024,2024-05-28,True,0
22249,240.0,34.0,81.0,0.420,14.0,40.0,0.350,18.0,21.0,0.857,...,41.4,154.0,115.0,MIN,105,0,2024,2024-05-28,False,1
22250,240.0,46.0,84.0,0.548,15.0,34.0,0.441,17.0,23.0,0.739,...,43.5,223.0,139.0,MIN,103,1,2024,2024-05-30,True,2
22251,240.0,38.0,89.0,0.427,10.0,32.0,0.313,17.0,21.0,0.810,...,33.8,151.0,119.0,DAL,124,0,2024,2024-05-30,False,2

In [14]:
df["won"].value_counts()

won
True     11126
False    11126
Name: count, dtype: int64

In [15]:
df["target"].value_counts()

target
1    11112
0    11110
2       30
Name: count, dtype: int64

In [16]:
nulls = pd.isnull(df)

In [17]:
nulls

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22247,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22248,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22249,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22250,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22251,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [18]:
nulls = nulls.sum()

In [19]:
total_rows = df.shape[0]
total_rows

22252

In [20]:
nulls = nulls[nulls == total_rows]
df = df.fillna(0)

In [21]:
nulls

+/-             22252
mp_max          22252
mp_max.1        22252
+/-_opp         22252
mp_max_opp      22252
mp_max_opp.1    22252
dtype: int64

In [22]:
valid_columns = df.columns[~df.columns.isin(nulls.index)]

In [23]:
valid_columns

Index(['mp', 'fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'ft%',
       ...
       'usg%_max_opp', 'ortg_max_opp', 'drtg_max_opp', 'team_opp', 'total_opp',
       'home_opp', 'season', 'date', 'won', 'target'],
      dtype='object', length=142)

In [24]:
df = df[valid_columns].copy()

In [25]:
df # end of data cleaning

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,...,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True,1
1,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False,1
2,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False,1
3,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True,1
4,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22247,240.0,40.0,87.0,0.460,10.0,29.0,0.345,12.0,16.0,0.750,...,32.5,189.0,122.0,BOS,105,0,2024,2024-05-27,False,2
22248,240.0,39.0,74.0,0.527,11.0,24.0,0.458,16.0,25.0,0.640,...,34.6,208.0,120.0,DAL,100,1,2024,2024-05-28,True,0
22249,240.0,34.0,81.0,0.420,14.0,40.0,0.350,18.0,21.0,0.857,...,41.4,154.0,115.0,MIN,105,0,2024,2024-05-28,False,1
22250,240.0,46.0,84.0,0.548,15.0,34.0,0.441,17.0,23.0,0.739,...,43.5,223.0,139.0,MIN,103,1,2024,2024-05-30,True,2
22251,240.0,38.0,89.0,0.427,10.0,32.0,0.313,17.0,21.0,0.810,...,33.8,151.0,119.0,DAL,124,0,2024,2024-05-30,False,2

In [26]:
from sklearn.model_selection import TimeSeriesSplit
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.linear_model import RidgeClassifier

rr = RidgeClassifier(alpha=1)
split = TimeSeriesSplit(n_splits=3)

sfs = SequentialFeatureSelector(rr, n_features_to_select=40, direction="forward", cv=split, n_jobs=1)

In [27]:
removed_columns = ["season", "date", "won", "target", "team", "team_opp"]

In [28]:
selected_columns = df.columns[~df.columns.isin(removed_columns)]

In [29]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[selected_columns] = scaler.fit_transform(df[selected_columns])

In [30]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,0.0,0.391304,0.529412,0.277512,0.413793,0.378788,0.491686,0.454545,0.406250,0.769,...,0.151282,0.800948,0.500000,ATL,0.267857,1.0,2016,2015-10-27,True,1
1,0.0,0.391304,0.323529,0.435407,0.275862,0.348485,0.351544,0.272727,0.234375,0.800,...,0.020513,0.203791,0.306818,DET,0.375000,0.0,2016,2015-10-27,False,1
2,0.0,0.413043,0.500000,0.322967,0.310345,0.378788,0.368171,0.227273,0.265625,0.588,...,0.161538,0.345972,0.306818,CHI,0.294643,1.0,2016,2015-10-27,False,1
3,0.0,0.391304,0.397059,0.373206,0.241379,0.227273,0.437055,0.363636,0.359375,0.696,...,0.089744,0.232227,0.318182,CLE,0.276786,0.0,2016,2015-10-27,True,1
4,0.0,0.347826,0.338235,0.366029,0.206897,0.212121,0.395487,0.431818,0.421875,0.704,...,0.278205,0.554502,0.306818,GSW,0.419643,1.0,2016,2015-10-27,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22247,0.0,0.456522,0.397059,0.456938,0.344828,0.378788,0.409739,0.272727,0.250000,0.750,...,0.134615,0.473934,0.511364,BOS,0.366071,0.0,2024,2024-05-27,False,2
22248,0.0,0.434783,0.205882,0.617225,0.379310,0.303030,0.543943,0.363636,0.390625,0.640,...,0.161538,0.563981,0.488636,DAL,0.321429,1.0,2024,2024-05-28,True,0
22249,0.0,0.326087,0.308824,0.361244,0.482759,0.545455,0.415677,0.409091,0.328125,0.857,...,0.248718,0.308057,0.431818,MIN,0.366071,0.0,2024,2024-05-28,False,1
22250,0.0,0.586957,0.352941,0.667464,0.517241,0.454545,0.523753,0.386364,0.359375,0.739,...,0.275641,0.635071,0.704545,MIN,0.348214,1.0,2024,2024-05-30,True,2
22251,0.0,0.413043,0.426471,0.377990,0.344828,0.424242,0.371734,0.386364,0.328125,0.810,...,0.151282,0.293839,0.477273,DAL,0.535714,0.0,2024,2024-05-30,False,2

In [31]:
sfs.fit(df[selected_columns], df["target"])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=RidgeClassifier(alpha=1),
                          n_features_to_select=40, n_jobs=1)

In [32]:
predictors = list(selected_columns[sfs.get_support()])

In [33]:
predictors

['fga',
 '3p%',
 'ft%',
 'pf',
 'orb%',
 'trb%',
 'tov%',
 'usg%',
 'fta_max',
 'blk_max',
 'tov_max',
 'pf_max',
 '+/-_max',
 'drb%_max',
 'trb%_max',
 'tov%_max',
 'usg%_max',
 'home',
 '3p_opp',
 'ft%_opp',
 'stl_opp',
 'pf_opp',
 'ftr_opp',
 'drb%_opp',
 'trb%_opp',
 'stl%_opp',
 'blk%_opp',
 'usg%_opp',
 'fga_max_opp',
 '3p_max_opp',
 '3p%_max_opp',
 'ft%_max_opp',
 'trb_max_opp',
 'stl_max_opp',
 '+/-_max_opp',
 'ast%_max_opp',
 'stl%_max_opp',
 'blk%_max_opp',
 'usg%_max_opp',
 'home_opp']

In [34]:
def backtest(data, model, predictors, start=2, step=1):
    all_predictions = []
    
    seasons = sorted(data["season"].unique())
    
    for i in range(start, len(seasons), step):
        season = seasons[i]
        
        train = data[data["season"] < season] # all seasons
        test = data[data["season"] == season] # current season
        
        model.fit(train[predictors], train["target"])
        
        preds = model.predict(test[predictors])
        preds = pd.Series(preds, index=test.index)
        
        combined = pd.concat([test["target"], preds], axis=1)
        combined.columns = ["actual", "prediction"]
        
        all_predictions.append(combined)
    return pd.concat(all_predictions)

In [35]:
predictions = backtest(df, rr, predictors)

In [36]:
predictions

       actual  prediction
5250        0           0
5251        1           0
5252        1           1
5253        1           0
5254        1           0
...       ...         ...
22247       2           0
22248       0           1
22249       1           1
22250       2           1
22251       2           0

[17002 rows x 2 columns]

In [37]:
from sklearn.metrics import accuracy_score

predictions = predictions[predictions["actual"] != 2]
accuracy_score(predictions["actual"], predictions["prediction"])

0.5483737921282111

In [38]:
df.groupby("home").apply(lambda x: x[x["won"] == 1].shape[0] / x.shape[0])

home
0.0    0.430793
1.0    0.569207
dtype: float64

In [39]:
df_rolling = df[list(selected_columns) + ["won", "season"]]

In [40]:
df_rolling

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,stl%_max_opp,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,total_opp,home_opp,won,season
0,0.0,0.391304,0.529412,0.277512,0.413793,0.378788,0.491686,0.454545,0.406250,0.769,...,0.106,0.071,0.550314,0.151282,0.800948,0.500000,0.267857,1.0,True,2016
1,0.0,0.391304,0.323529,0.435407,0.275862,0.348485,0.351544,0.272727,0.234375,0.800,...,0.032,0.047,0.300839,0.020513,0.203791,0.306818,0.375000,0.0,False,2016
2,0.0,0.413043,0.500000,0.322967,0.310345,0.378788,0.368171,0.227273,0.265625,0.588,...,0.028,0.140,0.509434,0.161538,0.345972,0.306818,0.294643,1.0,False,2016
3,0.0,0.391304,0.397059,0.373206,0.241379,0.227273,0.437055,0.363636,0.359375,0.696,...,0.028,0.185,0.270440,0.089744,0.232227,0.318182,0.276786,0.0,True,2016
4,0.0,0.347826,0.338235,0.366029,0.206897,0.212121,0.395487,0.431818,0.421875,0.704,...,0.191,0.079,0.679245,0.278205,0.554502,0.306818,0.419643,1.0,False,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22247,0.0,0.456522,0.397059,0.456938,0.344828,0.378788,0.409739,0.272727,0.250000,0.750,...,0.062,0.059,0.300839,0.134615,0.473934,0.511364,0.366071,0.0,False,2024
22248,0.0,0.434783,0.205882,0.617225,0.379310,0.303030,0.543943,0.363636,0.390625,0.640,...,0.119,0.092,1.000000,0.161538,0.563981,0.488636,0.321429,1.0,True,2024
22249,0.0,0.326087,0.308824,0.361244,0.482759,0.545455,0.415677,0.409091,0.328125,0.857,...,0.063,0.091,0.180294,0.248718,0.308057,0.431818,0.366071,0.0,False,2024
22250,0.0,0.586957,0.352941,0.667464,0.517241,0.454545,0.523753,0.386364,0.359375,0.739,...,0.074,0.090,0.185535,0.275641,0.635071,0.704545,0.348214,1.0,True,2024
22251,0.0,0.413043,0.426471,0.377990,0.344828,0.424242,0.371734,0.386364,0.328125,0.810,...,0.056,0.102,0.475891,0.151282,0.293839,0.477273,0.535714,0.0,False,2024

In [41]:
def find_team_average(team):
    rolling = team.rolling(5).mean() # the last ten games the team played
    return rolling

df_rolling = df_rolling.groupby(["season"], group_keys=False).apply(find_team_average)

In [42]:
df_rolling

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,stl%_max_opp,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,total_opp,home_opp,won,season
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.386957,0.417647,0.355024,0.289655,0.309091,0.408789,0.350000,0.337500,0.7114,...,0.0770,0.1044,0.462055,0.140256,0.427488,0.347727,0.326786,0.6,0.4,2016.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22247,0.0,0.486957,0.352941,0.542584,0.358621,0.403030,0.401425,0.340909,0.287500,0.8162,...,0.0446,0.1106,0.360797,0.133077,0.540284,0.556818,0.400000,0.4,0.4,2024.0
22248,0.0,0.456522,0.302941,0.553110,0.400000,0.409091,0.456295,0.350000,0.321875,0.7442,...,0.0604,0.1130,0.465618,0.144872,0.600000,0.545455,0.375000,0.6,0.6,2024.0
22249,0.0,0.417391,0.291176,0.511962,0.434483,0.439394,0.468171,0.377273,0.334375,0.7744,...,0.0588,0.1128,0.406499,0.165385,0.521327,0.511364,0.355357,0.4,0.6,2024.0
22250,0.0,0.452174,0.338235,0.506699,0.441379,0.457576,0.454157,0.336364,0.309375,0.7544,...,0.0686,0.1026,0.400839,0.188462,0.558294,0.518182,0.348214,0.6,0.6,2024.0
22251,0.0,0.443478,0.338235,0.496172,0.413793,0.421212,0.452969,0.363636,0.331250,0.7592,...,0.0748,0.0868,0.428512,0.194359,0.454976,0.522727,0.387500,0.4,0.4,2024.0

In [43]:
rolling_cols = [f"{col}_5" for col in df_rolling.columns]
df_rolling.columns = rolling_cols
df = pd.concat([df, df_rolling], axis=1)

In [44]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,stl%_max_opp_5,blk%_max_opp_5,tov%_max_opp_5,usg%_max_opp_5,ortg_max_opp_5,drtg_max_opp_5,total_opp_5,home_opp_5,won_5,season_5
0,0.0,0.391304,0.529412,0.277512,0.413793,0.378788,0.491686,0.454545,0.406250,0.769,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.391304,0.323529,0.435407,0.275862,0.348485,0.351544,0.272727,0.234375,0.800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,0.413043,0.500000,0.322967,0.310345,0.378788,0.368171,0.227273,0.265625,0.588,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,0.391304,0.397059,0.373206,0.241379,0.227273,0.437055,0.363636,0.359375,0.696,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.347826,0.338235,0.366029,0.206897,0.212121,0.395487,0.431818,0.421875,0.704,...,0.0770,0.1044,0.462055,0.140256,0.427488,0.347727,0.326786,0.6,0.4,2016.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22247,0.0,0.456522,0.397059,0.456938,0.344828,0.378788,0.409739,0.272727,0.250000,0.750,...,0.0446,0.1106,0.360797,0.133077,0.540284,0.556818,0.400000,0.4,0.4,2024.0
22248,0.0,0.434783,0.205882,0.617225,0.379310,0.303030,0.543943,0.363636,0.390625,0.640,...,0.0604,0.1130,0.465618,0.144872,0.600000,0.545455,0.375000,0.6,0.6,2024.0
22249,0.0,0.326087,0.308824,0.361244,0.482759,0.545455,0.415677,0.409091,0.328125,0.857,...,0.0588,0.1128,0.406499,0.165385,0.521327,0.511364,0.355357,0.4,0.6,2024.0
22250,0.0,0.586957,0.352941,0.667464,0.517241,0.454545,0.523753,0.386364,0.359375,0.739,...,0.0686,0.1026,0.400839,0.188462,0.558294,0.518182,0.348214,0.6,0.6,2024.0
22251,0.0,0.413043,0.426471,0.377990,0.344828,0.424242,0.371734,0.386364,0.328125,0.810,...,0.0748,0.0868,0.428512,0.194359,0.454976,0.522727,0.387500,0.4,0.4,2024.0

In [45]:
df = df.dropna()

In [46]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,stl%_max_opp_5,blk%_max_opp_5,tov%_max_opp_5,usg%_max_opp_5,ortg_max_opp_5,drtg_max_opp_5,total_opp_5,home_opp_5,won_5,season_5
4,0.0,0.347826,0.338235,0.366029,0.206897,0.212121,0.395487,0.431818,0.421875,0.704,...,0.0770,0.1044,0.462055,0.140256,0.427488,0.347727,0.326786,0.6,0.4,2016.0
5,0.0,0.478261,0.529412,0.377990,0.310345,0.393939,0.356295,0.454545,0.343750,0.909,...,0.0664,0.1028,0.420964,0.153333,0.373460,0.345455,0.328571,0.4,0.4,2016.0
6,0.0,0.565217,0.485294,0.514354,0.172414,0.166667,0.395487,0.250000,0.203125,0.846,...,0.0820,0.1008,0.560797,0.183077,0.444550,0.356818,0.339286,0.6,0.4,2016.0
7,0.0,0.500000,0.382353,0.523923,0.241379,0.227273,0.437055,0.477273,0.343750,0.955,...,0.0864,0.0942,0.506499,0.179231,0.441706,0.390909,0.355357,0.4,0.6,2016.0
8,0.0,0.304348,0.352941,0.296651,0.241379,0.363636,0.296912,0.340909,0.390625,0.600,...,0.1022,0.0804,0.507338,0.169487,0.437915,0.375000,0.341071,0.6,0.6,2016.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22247,0.0,0.456522,0.397059,0.456938,0.344828,0.378788,0.409739,0.272727,0.250000,0.750,...,0.0446,0.1106,0.360797,0.133077,0.540284,0.556818,0.400000,0.4,0.4,2024.0
22248,0.0,0.434783,0.205882,0.617225,0.379310,0.303030,0.543943,0.363636,0.390625,0.640,...,0.0604,0.1130,0.465618,0.144872,0.600000,0.545455,0.375000,0.6,0.6,2024.0
22249,0.0,0.326087,0.308824,0.361244,0.482759,0.545455,0.415677,0.409091,0.328125,0.857,...,0.0588,0.1128,0.406499,0.165385,0.521327,0.511364,0.355357,0.4,0.6,2024.0
22250,0.0,0.586957,0.352941,0.667464,0.517241,0.454545,0.523753,0.386364,0.359375,0.739,...,0.0686,0.1026,0.400839,0.188462,0.558294,0.518182,0.348214,0.6,0.6,2024.0
22251,0.0,0.413043,0.426471,0.377990,0.344828,0.424242,0.371734,0.386364,0.328125,0.810,...,0.0748,0.0868,0.428512,0.194359,0.454976,0.522727,0.387500,0.4,0.4,2024.0

In [47]:
def shift_col(team, col_name):
    next_col = team[col_name].shift(-1)
    return next_col

def add_col(df, col_name):
    return df.groupby("team", group_keys=False).apply(lambda x: shift_col(x, col_name))

df["home_next"] = add_col(df, "home")
df["team_opp_next"] = add_col(df, "team_opp")
df["date_next"] = add_col(df, "date")

C:\Users\admin\AppData\Local\Temp\ipykernel_3136\1688004556.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["home_next"] = add_col(df, "home")
C:\Users\admin\AppData\Local\Temp\ipykernel_3136\1688004556.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["team_opp_next"] = add_col(df, "team_opp")
C:\Users\admin\AppData\Local\Temp\ipykernel_3136\1688004556.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date_next"] = add_col(df, "date")

In [48]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp_5,ortg_max_opp_5,drtg_max_opp_5,total_opp_5,home_opp_5,won_5,season_5,home_next,team_opp_next,date_next
4,0.0,0.347826,0.338235,0.366029,0.206897,0.212121,0.395487,0.431818,0.421875,0.704,...,0.140256,0.427488,0.347727,0.326786,0.6,0.4,2016.0,0.0,POR,2015-10-28
5,0.0,0.478261,0.529412,0.377990,0.310345,0.393939,0.356295,0.454545,0.343750,0.909,...,0.153333,0.373460,0.345455,0.328571,0.4,0.4,2016.0,0.0,HOU,2015-10-30
6,0.0,0.565217,0.485294,0.514354,0.172414,0.166667,0.395487,0.250000,0.203125,0.846,...,0.183077,0.444550,0.356818,0.339286,0.6,0.4,2016.0,1.0,BRK,2015-10-30
7,0.0,0.500000,0.382353,0.523923,0.241379,0.227273,0.437055,0.477273,0.343750,0.955,...,0.179231,0.441706,0.390909,0.355357,0.4,0.6,2016.0,0.0,ORL,2015-10-30
8,0.0,0.304348,0.352941,0.296651,0.241379,0.363636,0.296912,0.340909,0.390625,0.600,...,0.169487,0.437915,0.375000,0.341071,0.6,0.6,2016.0,0.0,MIL,2015-10-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22247,0.0,0.456522,0.397059,0.456938,0.344828,0.378788,0.409739,0.272727,0.250000,0.750,...,0.133077,0.540284,0.556818,0.400000,0.4,0.4,2024.0,NaN,None,None
22248,0.0,0.434783,0.205882,0.617225,0.379310,0.303030,0.543943,0.363636,0.390625,0.640,...,0.144872,0.600000,0.545455,0.375000,0.6,0.6,2024.0,1.0,DAL,2024-05-30
22249,0.0,0.326087,0.308824,0.361244,0.482759,0.545455,0.415677,0.409091,0.328125,0.857,...,0.165385,0.521327,0.511364,0.355357,0.4,0.6,2024.0,0.0,MIN,2024-05-30
22250,0.0,0.586957,0.352941,0.667464,0.517241,0.454545,0.523753,0.386364,0.359375,0.739,...,0.188462,0.558294,0.518182,0.348214,0.6,0.6,2024.0,NaN,None,None
22251,0.0,0.413043,0.426471,0.377990,0.344828,0.424242,0.371734,0.386364,0.328125,0.810,...,0.194359,0.454976,0.522727,0.387500,0.4,0.4,2024.0,NaN,None,None

In [49]:
df = df.copy()

In [50]:
full = df.merge(df[rolling_cols + ["team_opp_next", "date_next", "team"]], left_on=["team", "date_next"], right_on=["team_opp_next", "date_next"])

In [51]:
full

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp_5_y,usg%_max_opp_5_y,ortg_max_opp_5_y,drtg_max_opp_5_y,total_opp_5_y,home_opp_5_y,won_5_y,season_5_y,team_opp_next_y,team_y
0,0.0,0.478261,0.529412,0.377990,0.310345,0.393939,0.356295,0.454545,0.343750,0.909,...,0.298323,0.121026,0.379147,0.354545,0.308929,0.2,0.4,2016.0,GSW,HOU
1,0.0,0.565217,0.485294,0.514354,0.172414,0.166667,0.395487,0.250000,0.203125,0.846,...,0.327883,0.137436,0.476777,0.434091,0.367857,0.6,0.4,2016.0,SAS,BRK
2,0.0,0.500000,0.382353,0.523923,0.241379,0.227273,0.437055,0.477273,0.343750,0.955,...,0.408176,0.119744,0.245498,0.377273,0.325000,0.6,0.4,2016.0,OKC,ORL
3,0.0,0.304348,0.352941,0.296651,0.241379,0.363636,0.296912,0.340909,0.390625,0.600,...,0.294969,0.166410,0.454976,0.395455,0.367857,0.4,0.6,2016.0,WAS,MIL
4,0.0,0.456522,0.367647,0.483254,0.344828,0.257576,0.565321,0.477273,0.484375,0.677,...,0.316352,0.117692,0.319431,0.361364,0.326786,0.6,0.8,2016.0,DAL,LAC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22177,0.0,0.586957,0.455882,0.564593,0.172414,0.272727,0.269596,0.318182,0.218750,1.000,...,0.520126,0.173077,0.553555,0.620455,0.435714,0.6,0.6,2024.0,IND,BOS
22178,0.0,0.521739,0.367647,0.566986,0.310345,0.393939,0.356295,0.272727,0.265625,0.706,...,0.320964,0.126154,0.451185,0.597727,0.421429,0.6,0.6,2024.0,MIN,DAL
22179,0.0,0.413043,0.117647,0.693780,0.482759,0.363636,0.593824,0.590909,0.484375,0.839,...,0.310482,0.123846,0.478673,0.581818,0.425000,0.6,0.4,2024.0,DAL,MIN
22180,0.0,0.434783,0.205882,0.617225,0.379310,0.303030,0.543943,0.363636,0.390625,0.640,...,0.406499,0.165385,0.521327,0.511364,0.355357,0.4,0.6,2024.0,MIN,DAL
22181,0.0,0.326087,0.308824,0.361244,0.482759,0.545455,0.415677,0.409091,0.328125,0.857,...,0.465618,0.144872,0.600000,0.545455,0.375000,0.6,0.6,2024.0,DAL,MIN

In [52]:
full[["team_x", "team_opp_next_x", "team_y", "team_opp_next_y", "date_next"]]

      team_x team_opp_next_x team_y team_opp_next_y   date_next
0        GSW             HOU    HOU             GSW  2015-10-30
1        SAS             BRK    BRK             SAS  2015-10-30
2        OKC             ORL    ORL             OKC  2015-10-30
3        WAS             MIL    MIL             WAS  2015-10-30
4        DAL             LAC    LAC             DAL  2015-10-29
...      ...             ...    ...             ...         ...
22177    IND             BOS    BOS             IND  2024-05-27
22178    MIN             DAL    DAL             MIN  2024-05-28
22179    DAL             MIN    MIN             DAL  2024-05-28
22180    MIN             DAL    DAL             MIN  2024-05-30
22181    DAL             MIN    MIN             DAL  2024-05-30

[22182 rows x 5 columns]

In [53]:
removed_columns = list(full.columns[full.dtypes == "object"]) + removed_columns

In [54]:
removed_columns

['team_x',
 'team_opp',
 'date',
 'team_opp_next_x',
 'date_next',
 'team_opp_next_y',
 'team_y',
 'season',
 'date',
 'won',
 'target',
 'team',
 'team_opp']

In [55]:
selected_columns = full.columns[~full.columns.isin(removed_columns)]
sfs.fit(full[selected_columns], full["target"])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=RidgeClassifier(alpha=1),
                          n_features_to_select=40, n_jobs=1)

In [56]:
predictors = list(selected_columns[sfs.get_support()])

In [57]:
predictors

['fga',
 'ft%',
 'orb%',
 'usg%',
 'fta_max',
 'pf_max',
 '+/-_max',
 'ts%_max',
 'drb%_max',
 'tov%_max',
 'stl_opp',
 'drb%_opp',
 'usg%_opp',
 '3p_max_opp',
 'ft%_max_opp',
 'fga_5_x',
 'tov_5_x',
 'tov%_5_x',
 'usg%_5_x',
 'fg_max_5_x',
 'ft%_max_5_x',
 'usg%_max_5_x',
 '3pa_opp_5_x',
 '3p%_opp_5_x',
 'ft_opp_5_x',
 'ftr_opp_5_x',
 'blk%_opp_5_x',
 'usg%_opp_5_x',
 'stl%_max_opp_5_x',
 'usg%_max_opp_5_x',
 'home_next',
 'blk_5_y',
 'usg%_5_y',
 'ft%_max_5_y',
 'tov%_max_5_y',
 'home_5_y',
 'fga_opp_5_y',
 'usg%_opp_5_y',
 'ft%_max_opp_5_y',
 'home_opp_5_y']

In [58]:
predictions = backtest(full, rr, predictors)

In [59]:
accuracy_score(predictions["actual"], predictions["prediction"])

0.5694641170915958