In [133]:
import pandas as pd

In [134]:
df = pd.read_csv("nba_games.csv", index_col=0)

In [135]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,...,57.1,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True
1,240.0,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
2,240.0,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
3,240.0,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,...,30.4,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True
4,240.0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22247,240.0,240.0,40.0,87.0,0.460,10.0,29.0,0.345,12.0,16.0,...,33.3,32.5,189.0,122.0,BOS,105,0,2024,2024-05-27,False
22248,240.0,240.0,39.0,74.0,0.527,11.0,24.0,0.458,16.0,25.0,...,100.0,34.6,208.0,120.0,DAL,100,1,2024,2024-05-28,True
22249,240.0,240.0,34.0,81.0,0.420,14.0,40.0,0.350,18.0,21.0,...,21.8,41.4,154.0,115.0,MIN,105,0,2024,2024-05-28,False
22250,240.0,240.0,46.0,84.0,0.548,15.0,34.0,0.441,17.0,23.0,...,22.3,43.5,223.0,139.0,MIN,103,1,2024,2024-05-30,True
22251,240.0,240.0,38.0,89.0,0.427,10.0,32.0,0.313,17.0,21.0,...,50.0,33.8,151.0,119.0,DAL,124,0,2024,2024-05-30,False

In [136]:
df = df.sort_values("date")

In [137]:
df = df.reset_index(drop=True)

In [138]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,...,57.1,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True
1,240.0,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
2,240.0,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
3,240.0,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,...,30.4,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True
4,240.0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22247,240.0,240.0,40.0,87.0,0.460,10.0,29.0,0.345,12.0,16.0,...,33.3,32.5,189.0,122.0,BOS,105,0,2024,2024-05-27,False
22248,240.0,240.0,39.0,74.0,0.527,11.0,24.0,0.458,16.0,25.0,...,100.0,34.6,208.0,120.0,DAL,100,1,2024,2024-05-28,True
22249,240.0,240.0,34.0,81.0,0.420,14.0,40.0,0.350,18.0,21.0,...,21.8,41.4,154.0,115.0,MIN,105,0,2024,2024-05-28,False
22250,240.0,240.0,46.0,84.0,0.548,15.0,34.0,0.441,17.0,23.0,...,22.3,43.5,223.0,139.0,MIN,103,1,2024,2024-05-30,True
22251,240.0,240.0,38.0,89.0,0.427,10.0,32.0,0.313,17.0,21.0,...,50.0,33.8,151.0,119.0,DAL,124,0,2024,2024-05-30,False

In [139]:
del df["mp.1"]
del df["mp_opp.1"]
del df["index_opp"]

In [140]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,...,57.1,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True
1,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
2,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
3,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,30.4,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True
4,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22247,240.0,40.0,87.0,0.460,10.0,29.0,0.345,12.0,16.0,0.750,...,33.3,32.5,189.0,122.0,BOS,105,0,2024,2024-05-27,False
22248,240.0,39.0,74.0,0.527,11.0,24.0,0.458,16.0,25.0,0.640,...,100.0,34.6,208.0,120.0,DAL,100,1,2024,2024-05-28,True
22249,240.0,34.0,81.0,0.420,14.0,40.0,0.350,18.0,21.0,0.857,...,21.8,41.4,154.0,115.0,MIN,105,0,2024,2024-05-28,False
22250,240.0,46.0,84.0,0.548,15.0,34.0,0.441,17.0,23.0,0.739,...,22.3,43.5,223.0,139.0,MIN,103,1,2024,2024-05-30,True
22251,240.0,38.0,89.0,0.427,10.0,32.0,0.313,17.0,21.0,0.810,...,50.0,33.8,151.0,119.0,DAL,124,0,2024,2024-05-30,False

In [141]:
import warnings

# Suppress FutureWarnings
warnings.simplefilter(action='ignore', category=FutureWarning)

def add_target(team):
    team["target"] = team["won"].shift(-1)
    return team

df = df.groupby("team", group_keys=False).apply(add_target)

C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1686408256.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)

In [142]:
df[df["team"] == "WAS"]

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
8,240.0,33.0,84.0,0.393,7.0,28.0,0.250,15.0,25.0,0.600,...,25.2,134.0,98.0,ORL,87,1,2016,2015-10-28,True,True
51,240.0,35.0,68.0,0.515,12.0,21.0,0.571,36.0,44.0,0.818,...,32.4,138.0,122.0,MIL,113,1,2016,2015-10-30,True,False
65,240.0,38.0,90.0,0.422,6.0,22.0,0.273,28.0,33.0,0.848,...,28.7,153.0,108.0,NYK,117,0,2016,2015-10-31,False,True
118,240.0,42.0,87.0,0.483,8.0,23.0,0.348,10.0,14.0,0.714,...,30.0,160.0,109.0,SAS,99,0,2016,2015-11-04,True,False
166,240.0,36.0,88.0,0.409,8.0,25.0,0.320,18.0,23.0,0.783,...,41.6,146.0,103.0,BOS,118,1,2016,2015-11-06,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21922,240.0,38.0,88.0,0.432,5.0,33.0,0.152,21.0,30.0,0.700,...,31.5,144.0,114.0,POR,108,0,2024,2024-04-05,False,False
21948,240.0,42.0,89.0,0.472,16.0,40.0,0.400,22.0,30.0,0.733,...,30.4,145.0,120.0,TOR,130,1,2024,2024-04-07,False,False
21985,240.0,44.0,89.0,0.494,20.0,43.0,0.465,13.0,17.0,0.765,...,72.4,199.0,131.0,MIN,130,1,2024,2024-04-09,False,False
22035,240.0,45.0,86.0,0.523,18.0,43.0,0.419,19.0,29.0,0.655,...,29.3,159.0,127.0,CHI,129,0,2024,2024-04-12,False,False
22072,240.0,49.0,103.0,0.476,14.0,38.0,0.368,10.0,10.0,1.000,...,40.2,199.0,128.0,BOS,132,1,2024,2024-04-14,False,NaN

In [143]:
df["target"][pd.isnull(df["target"])] = 2

C:\Users\admin\AppData\Local\Temp\ipykernel_3484\1618397414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["target"][pd.isnull(df["target"])] = 2

In [144]:
df["target"] = df["target"].astype(int, errors="ignore")

In [145]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,...,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True,1
1,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False,1
2,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False,1
3,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True,1
4,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22247,240.0,40.0,87.0,0.460,10.0,29.0,0.345,12.0,16.0,0.750,...,32.5,189.0,122.0,BOS,105,0,2024,2024-05-27,False,2
22248,240.0,39.0,74.0,0.527,11.0,24.0,0.458,16.0,25.0,0.640,...,34.6,208.0,120.0,DAL,100,1,2024,2024-05-28,True,0
22249,240.0,34.0,81.0,0.420,14.0,40.0,0.350,18.0,21.0,0.857,...,41.4,154.0,115.0,MIN,105,0,2024,2024-05-28,False,1
22250,240.0,46.0,84.0,0.548,15.0,34.0,0.441,17.0,23.0,0.739,...,43.5,223.0,139.0,MIN,103,1,2024,2024-05-30,True,2
22251,240.0,38.0,89.0,0.427,10.0,32.0,0.313,17.0,21.0,0.810,...,33.8,151.0,119.0,DAL,124,0,2024,2024-05-30,False,2

In [146]:
df["won"].value_counts()

won
True     11126
False    11126
Name: count, dtype: int64

In [147]:
df["target"].value_counts()

target
1    11112
0    11110
2       30
Name: count, dtype: int64

In [148]:
nulls = pd.isnull(df)

In [149]:
nulls

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22247,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22248,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22249,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22250,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22251,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [150]:
nulls = nulls.sum()

In [151]:
total_rows = df.shape[0]
total_rows

22252

In [152]:
nulls = nulls[nulls == total_rows]

In [153]:
nulls

+/-             22252
mp_max          22252
mp_max.1        22252
+/-_opp         22252
mp_max_opp      22252
mp_max_opp.1    22252
dtype: int64

In [154]:
valid_columns = df.columns[~df.columns.isin(nulls.index)]

In [155]:
valid_columns

Index(['mp', 'fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'ft%',
       ...
       'usg%_max_opp', 'ortg_max_opp', 'drtg_max_opp', 'team_opp', 'total_opp',
       'home_opp', 'season', 'date', 'won', 'target'],
      dtype='object', length=142)

In [156]:
valid_columns = valid_columns.fillna(0)

In [157]:
valid_columns

Index(['mp', 'fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'ft%',
       ...
       'usg%_max_opp', 'ortg_max_opp', 'drtg_max_opp', 'team_opp', 'total_opp',
       'home_opp', 'season', 'date', 'won', 'target'],
      dtype='object', length=142)

In [158]:
df = df[valid_columns].copy()

In [159]:
df # end of data cleaning

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,...,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True,1
1,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False,1
2,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False,1
3,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True,1
4,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22247,240.0,40.0,87.0,0.460,10.0,29.0,0.345,12.0,16.0,0.750,...,32.5,189.0,122.0,BOS,105,0,2024,2024-05-27,False,2
22248,240.0,39.0,74.0,0.527,11.0,24.0,0.458,16.0,25.0,0.640,...,34.6,208.0,120.0,DAL,100,1,2024,2024-05-28,True,0
22249,240.0,34.0,81.0,0.420,14.0,40.0,0.350,18.0,21.0,0.857,...,41.4,154.0,115.0,MIN,105,0,2024,2024-05-28,False,1
22250,240.0,46.0,84.0,0.548,15.0,34.0,0.441,17.0,23.0,0.739,...,43.5,223.0,139.0,MIN,103,1,2024,2024-05-30,True,2
22251,240.0,38.0,89.0,0.427,10.0,32.0,0.313,17.0,21.0,0.810,...,33.8,151.0,119.0,DAL,124,0,2024,2024-05-30,False,2

In [160]:
from sklearn.model_selection import TimeSeriesSplit
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.linear_model import RidgeClassifier

rr = RidgeClassifier(alpha=1)
split = TimeSeriesSplit(n_splits=3)

sfs = SequentialFeatureSelector(rr, n_features_to_select=30, direction="forward", cv=split)

In [161]:
removed_columns = ["season", "date", "won", "target", "team", "team_opp"]

In [162]:
selected_columns = df.columns[~df.columns.isin(removed_columns)]

In [163]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[selected_columns] = scaler.fit_transform(df[selected_columns])

In [164]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,0.0,0.391304,0.529412,0.277512,0.413793,0.378788,0.491686,0.454545,0.406250,0.719660,...,0.151282,0.800948,0.500000,ATL,0.267857,1.0,2016,2015-10-27,True,1
1,0.0,0.391304,0.323529,0.435407,0.275862,0.348485,0.351544,0.272727,0.234375,0.757282,...,0.020513,0.203791,0.306818,DET,0.375000,0.0,2016,2015-10-27,False,1
2,0.0,0.413043,0.500000,0.322967,0.310345,0.378788,0.368171,0.227273,0.265625,0.500000,...,0.161538,0.345972,0.306818,CHI,0.294643,1.0,2016,2015-10-27,False,1
3,0.0,0.391304,0.397059,0.373206,0.241379,0.227273,0.437055,0.363636,0.359375,0.631068,...,0.089744,0.232227,0.318182,CLE,0.276786,0.0,2016,2015-10-27,True,1
4,0.0,0.347826,0.338235,0.366029,0.206897,0.212121,0.395487,0.431818,0.421875,0.640777,...,0.278205,0.554502,0.306818,GSW,0.419643,1.0,2016,2015-10-27,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22247,0.0,0.456522,0.397059,0.456938,0.344828,0.378788,0.409739,0.272727,0.250000,0.696602,...,0.134615,0.473934,0.511364,BOS,0.366071,0.0,2024,2024-05-27,False,2
22248,0.0,0.434783,0.205882,0.617225,0.379310,0.303030,0.543943,0.363636,0.390625,0.563107,...,0.161538,0.563981,0.488636,DAL,0.321429,1.0,2024,2024-05-28,True,0
22249,0.0,0.326087,0.308824,0.361244,0.482759,0.545455,0.415677,0.409091,0.328125,0.826456,...,0.248718,0.308057,0.431818,MIN,0.366071,0.0,2024,2024-05-28,False,1
22250,0.0,0.586957,0.352941,0.667464,0.517241,0.454545,0.523753,0.386364,0.359375,0.683252,...,0.275641,0.635071,0.704545,MIN,0.348214,1.0,2024,2024-05-30,True,2
22251,0.0,0.413043,0.426471,0.377990,0.344828,0.424242,0.371734,0.386364,0.328125,0.769417,...,0.151282,0.293839,0.477273,DAL,0.535714,0.0,2024,2024-05-30,False,2

In [165]:
from sklearn.experimental import enable_hist_gradient_boosting  # noqa
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.feature_selection import SequentialFeatureSelector

# Initialize the model and the SequentialFeatureSelector
model = HistGradientBoostingClassifier()
sfs = SequentialFeatureSelector(model)

# Fit the SequentialFeatureSelector with the original data
sfs.fit(df[selected_columns], df["target"])

ValueError: Input X contains NaN.
SequentialFeatureSelector does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [ ]:
predictors = list(selected_columns[sfs.get_support()])